<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="pattern">%c{1}: %p: %m%n%throwable</Property>
	</Properties>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout disableAnsi="true" pattern="%highlight{${pattern}}" />
			<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
		</Console>
		<Console name="stderr" target="SYSTEM_ERR">
			<PatternLayout pattern="${pattern}" />
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="stderr" />
		</Root>
		<!--<logger name="net.dv8tion.jda" level="debug" />-->
	</Loggers>
</Configuration>